.container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding-bottom: 70px;
  //background-color: #fafafa;
}
#toolbar{
  margin: 0px;
}

.row{
  margin-top: 15px;
}


@media only screen and (max-width: 575px) {
  .row{
    padding: 15px 20px 15px 20px;
  }
}


body{
  overflow: auto;
}

#addNoteBtn{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

