.container{
  width: 100vw;
  height: 100vh;
  overflow: auto;
  padding-bottom: 70px;
}

.noteContainer{
  display: inline-block;
  width: 50%;
  height: 35%;
  margin: 20px 0px 5px 0px;
  padding: 0px 15px 0px 15px;
}

.note{
  height: 80%;
  width: 100%;
  margin: 0;
  display: inline-block;
  // background-image: linear-gradient(to bottom right, rgb(133, 133, 255), rgb(72, 72, 255));
  color:rgb(8, 193, 199);
}

h4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  overflow: auto;
}
