<!--<mat-toolbar color="primary">-->
<!--	<button mat-icon-button aria-label="Back button" (click)="navigateBack()">-->
<!--		<mat-icon>arrow_back</mat-icon>-->
<!--	</button>-->
<!--	<span>Notes</span>-->
<!--	<span class="example-spacer"></span>-->
<!--</mat-toolbar>-->
<div class="container">
	<div class="row">
		<app-note-cards></app-note-cards>
	</div>

	<button
		id="addNoteBtn"
		mat-fab
		color="primary"
		aria-label="Add note button"
    (click)="createNewNotebook()"
	>
		<mat-icon>edit</mat-icon>
	</button>
</div>
