<!--<mat-toolbar color="primary">-->
<!--	<button mat-icon-button aria-label="Back button" (click)="navigateBack()">-->
<!--		<mat-icon>arrow_back</mat-icon>-->
<!--	</button>-->
<!--	<span>Notes</span>-->
<!--	<span class="example-spacer"></span>-->
<!--</mat-toolbar>-->

<div class="container">
	<div class="row">
		<div
			class="col-6 col-sm-4 noteContainer"
			*ngFor="let note of notes; let i = index"
			(click)="openNote(note.noteId, note.name)"
		>
			<mat-card class="note">
				<h3 class="title">{{ note.name }}</h3>
				<h4 class="description">{{ note.description }}</h4>
				<div
					id="bottomColor"
					[style.background-image]="colours[i % 6].colour"
				></div>
			</mat-card>
		</div>
	</div>

	<button
		id="addNoteBtn"
		mat-fab
		color="primary"
		aria-label="Add note button"
	>
		<mat-icon>edit</mat-icon>
	</button>
</div>

<div id="mobileOverlay">
	<mat-spinner id="noteSpinner"></mat-spinner>
</div>
