<div id="background">

  <mat-progress-bar mode="indeterminate" id="notesProgressbar"></mat-progress-bar>

  <img src="../../../../assets/logo/SmartStudentHandbook.png" class="rounded mx-auto d-block" height="200" alt="Responsive image">

  <mat-card id="loginCard">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginFailed">
          {{ errorMessage }}
        </mat-error>

        <mat-form-field class="full-width-input">
          <input autocomplete="off" matInput placeholder="Email" formControlName="email" required
                 pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"/>
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field class="full-width-input">
          <input autocomplete="off" matInput type="Password" placeholder="Password" formControlName="password" required
                 pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,40}"/>
          <mat-error> Please provide a valid password </mat-error>
        </mat-form-field>

        <br/>

        <button mat-raised-button type="submit" [disabled]="isDisabled || form.invalid">Login</button>
      </form>
    </mat-card-content>

    <p class="text-center">
      <a [routerLink]="['/account/forgotPassword']">Forgot Password?</a>
    </p>

    <div class="alert alert-warning" role="alert">
      Note: Please use <em class="fa fa-chrome"></em> Chrome or <em class="fa fa-firefox"></em> Firefox
    </div>
  </mat-card>

  <p class="text-center text-light">
    New to Smart Student Handbook? <a style="text-decoration: none; color: #004f6d" [routerLink]="['/account/register']">Sign up</a>
  </p>


</div>
