<div class="container-fluid" id="welcomeBackground">
  <div class="row">
    <div class="col">
      <img src="../../../../assets/logo/SmartStudentHandbookWelcome.png" class="rounded mx-auto d-block" height="200" alt="Responsive image">
    </div>
  </div>

  <div class="row mt-3 pt-5 mb-3">
    <div class="col-7 offset-1">
      <h1 class="welcomeHeading">What is Smart Student Handbook About?</h1>
      <h2 class="welcomeSubHeading">
        We are an award-winning branding agency providing insightful and creative solutions including brand strategy,
        visual identity, web design, and more. Our experienced and passionate team works with a wide array of
        mission-driven organizations, including foundations, nonprofits, and higher-ed institutions to help our clients
        broaden their horizons, build brand equity, and make a greater impact in the world.
      </h2>
    </div>
    <div class="col-3 offset-1" style="padding-top: 100px;">
      <button class="mb-2" style="width: 100px" mat-raised-button color="accent">
        Login
      </button>
      <br>
      <button mat-raised-button color="accent" style="width: 100px">
        Register
      </button>
    </div>
  </div>


<!--Collaborate-->
  <div class="row feature topWave">
  </div>
  <div class="row feature featureBackground" style="padding-top: 0;">
    <div class="col-6 offset-1">
      <h2 class="featureHeading">
        Feature 1
      </h2>
      <h2 class="featureDescription">
        Some description of the feature to give the client more information
        regarding how the specific feature works and how it looks on smart student handbook website
      </h2>
    </div>
    <div class="col-4">
      <img class="gif oddGif" src="../../../../assets/gifs/Collaborate.gif">
    </div>
  </div>

<!--  Smart assist -->
  <div class="row feature featureBackground">
    <div class="col-4">
      <img class="gif" src="../../../../assets/gifs/SmartAssist.gif">
    </div>
    <div class="col-6 offset-1">
      <h2 class="featureHeading">
        Feature 1
      </h2>
      <h2 class="featureDescription">
        Some description of the feature to give the client more information
        regarding how the specific feature works and how it looks on smart student handbook website
      </h2>
    </div>
  </div>

<!--  Chat -->
  <div class="row feature featureBackground">
    <div class="col-6 offset-1">
      <h2 class="featureHeading">
        Feature 1
      </h2>
      <h2 class="featureDescription">
        Some description of the feature to give the client more information
        regarding how the specific feature works and how it looks on smart student handbook website
      </h2>
    </div>
    <div class="col-4">
      <img class="gif oddGif" src="../../../../assets/gifs/Chat.gif">
    </div>
  </div>

<!--  Clone -->
  <div class="row feature featureBackground" style="padding-bottom: 0;">
    <div class="col-4">
      <img class="gif" src="../../../../assets/gifs/Clone.gif">
    </div>
    <div class="col-6 offset-1">
      <h2 class="featureHeading">
        Feature 1
      </h2>
      <h2 class="featureDescription">
        Some description of the feature to give the client more information
        regarding how the specific feature works and how it looks on smart student handbook website
      </h2>
    </div>
  </div>

  <div class="row feature bottomWave">
  </div>

  <div class="row theTeamBanner mt-5 pt-5 pb-5">

    <div class="col-1 mb-5 pb-5"></div>
    <div class="col-2 mb-5 pb-5 teamMember text-center" *ngFor="let member of teamMembers">
      <div mat-card-avatar class="memberProfilePic" [ngStyle]="{'background-image': (member.profile)}"></div>
      <h2 class="teamMemberName">{{member.name}}</h2>
      <a href="{{member.linkedIn}}">
        <button mat-icon-button class="teamMemberIconButton mr-1">
          <img class="teamMemberIcon" src="../../../../assets/icons/linkedIn.png">
        </button>
      </a>

      <a href="{{member.github}}">
        <button mat-icon-button class="teamMemberIconButton">
          <img class="teamMemberIcon" src="../../../../assets/icons/github.png">
        </button>
      </a>
    </div>
    <div class="col-1 mb-5 pb-5"></div>


    <div class="col">
    </div>
    <div class="offset-1 col-3 pl-2 documentationContainer">
      <h2 class="welcomeHeading">Documentation 1</h2>
      <p>uasvfouab fhd</p>
    </div>
    <div class="col-3 pl-2 documentationContainer">
      <h2 class="welcomeHeading">Documentation 2</h2>
      <p>uasvfouab fhd</p>
    </div>
    <div class="col-3 pl-2 documentationContainer">
      <h2 class="welcomeHeading">Documentation 3</h2>
      <p>uasvfouab fhd</p>
    </div>
    <div class="col">
    </div>
  </div>

</div>

