.menu-spacer {
  flex: 1 1 auto;
}

// Curve one
.custom-shape-divider-top-1630695354 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;

}

.custom-shape-divider-top-1630695354 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 141px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1630695354 .shape-fill {
  fill: #FFFFFF;

}

//curve 2 bottom
.custom-shape-divider-bottom-1630695818 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1630695818 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 141px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1630695818 .shape-fill {
  fill: #454475;
}
