<div class="container transparent">
	<div class="p-5 mb-4">
		<h1 class="display-1 fw-bold fs-1 text-center">
			Smart Student Handbook
		</h1>
	</div>
</div>

<mat-card>
	<mat-card-content>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<h2>Register</h2>
			<mat-error *ngIf="registerFailed">
				{{ errorMessage }}
			</mat-error>

			<mat-form-field class="full-width-input">
				<input type="email" autocomplete="off" matInput placeholder="Email" formControlName="email" required/>
				<mat-error> Please provide a valid email address </mat-error>
			</mat-form-field>

			<mat-form-field class="full-width-input">
				<input type="text" autocomplete="off" matInput placeholder="Username" formControlName="displayName" required/>
				<mat-error> Please provide a valid displayName </mat-error>
			</mat-form-field>

			<mat-form-field class="full-width-input">
				<input type="password" autocomplete="off" matInput placeholder="Password" formControlName="password" required/>
				<mat-error> Please provide a valid password </mat-error>
			</mat-form-field>

			<mat-form-field class="full-width-input">
				<input type="password" autocomplete="off" matInput placeholder="Confirm Password" formControlName="passwordConfirm" required/>
				<mat-error> Passwords dont match </mat-error>
				<!--<mat-hint>Confirm your password (must match)</mat-hint>-->
			</mat-form-field>

			<button mat-raised-button color="primary">Register</button>
		</form>
	</mat-card-content>

	<p class="text-center">
		I already have an Account? <a [routerLink]="['/account/login']">Login</a>
	</p>
</mat-card>

<br />
<br />
<br />
