<div id="background">
  <mat-progress-bar mode="indeterminate" id="notesProgressbar"></mat-progress-bar>

  <img src="../../../../assets/logo/SmartStudentHandbook.png" class="rounded mx-auto d-block" height="200"  alt="Responsive image">

  <mat-card id="registerCard">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <mat-error *ngIf="registerFailed">
          {{ errorMessage }}
        </mat-error>

        <mat-form-field class="full-width-input">
          <input type="email" autocomplete="off" matInput placeholder="Email" formControlName="email"
                 required pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+"/>
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field class="full-width-input">
          <input type="text" autocomplete="off" matInput placeholder="Username" formControlName="displayName" required/>
          <mat-error> Please provide a valid username </mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field class="full-width-input">
          <input type="password" autocomplete="off" matInput placeholder="Password" formControlName="password" required
                 pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,40}"/>
          <mat-hint>Minimum 8 characters including UPPER/lowercase, numbers and a special character</mat-hint>
          <mat-error> Please provide a valid password </mat-error>
          <mat-error> Minimum of 8 characters including UPPER/lowercase, numbers and a special character</mat-error>
        </mat-form-field>

        <br/>

        <mat-form-field class="full-width-input">
          <input type="password" autocomplete="off" matInput placeholder="Confirm Password" formControlName="passwordConfirm" required/>
          <mat-error> Passwords dont match </mat-error>
        </mat-form-field>

        <br/>

        <button mat-raised-button type="submit" [disabled]="isDisabled || form.invalid">Register</button>
      </form>
    </mat-card-content>

    <p class="text-center">
      I already have an Account? <a [routerLink]="['/account/login']">Login</a>
    </p>

    <div class="alert alert-warning" role="alert">
      Note: Please use <em class="fa fa-chrome"></em> Chrome or <em class="fa fa-firefox"></em> Firefox
    </div>
  </mat-card>
</div>
