.main_content {
  width:100%;
  //height: calc(100vh - 100px);
  height: 100vh;
  background: #efefef;
  //padding-top: 10px;
}

#leftSidenav {
  max-width: fit-content;
  width: 100%;
  //width: fit-content;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  max-width: 210px;
}

//-------------------------------------------------------

//.example-container {
//  height: 500px;
//  border: 1px solid rgba(0, 0, 0, 0.5);
//}
//.example-sidenav-content {
//  display: flex;
//  height: 100%;
//  align-items: center;
//  justify-content: center;
//}
//.example-sidenav {
//  user-select: none;
//}
//.full-width {
//  width: 100%;
//}
//.menu-button {
//  transition: 300ms ease-in-out;
//  transform: rotate(0deg);
//}
//.menu-button.rotated {
//  transform: rotate(180deg);
//}
//.submenu {
//  overflow-y: hidden;
//  transition: transform 300ms ease;
//  transform: scaleY(0);
//  transform-origin: top;
//  padding-left: 30px;
//}
//.submenu.expanded {
//  transform: scaleY(1);
//}
