<mat-progress-bar mode="indeterminate" id="progressbar"></mat-progress-bar>
<h1>Update Profile</h1>

<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="profile-pic">
        <label class="-label" for="file">
          <span><mat-icon>edit</mat-icon></span>
          <span></span>
        </label>
        <input id="file" type="file" (change)="fileChangeEvent($event)"/>
        <!--<input #file type="file" accept='image/*' (change)="preview(file.files)" />-->
        <img src="../../../../assets/images/defaultProfile.jpg" alt="User Profile Image" id="output" width="200" />
      </div>
    </div>
    <div class="col-9">

      <div><span>Username: </span> <span class="h6">{{data.username}}</span></div>
      <div><span>Email: </span> <span class="h6">{{data.email}}</span></div>
      <div><span>Date Joined: </span> <span class="h6">{{date}}</span></div>

    </div>
  </div>
</div>
<br/>


<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Display Name</mat-label>
    <input matInput placeholder="Display Name" [(ngModel)]="data.displayName" cdkFocusInitial autocomplete="off"/>
    <mat-hint>This will not change your username</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Institution</mat-label>
    <input matInput placeholder="Institution" [(ngModel)]="data.institution" autocomplete="off"/>
    <mat-hint>The institution where you are studying, learning or teaching</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>About</mat-label>
    <textarea matInput placeholder="A little about myself" [(ngModel)]="data.bio"></textarea>
    <mat-hint>Tell us something about you</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Department</mat-label>
    <input matInput placeholder="Department" [(ngModel)]="data.department" autocomplete="off"/>
    <mat-hint>Your department, ex: Computer science</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Program</mat-label>
    <input matInput placeholder="Program" [(ngModel)]="data.program" autocomplete="off"/>
    <mat-hint>The program that you are studying or are involved in</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Work Status</mat-label>
    <input matInput placeholder="Student" [(ngModel)]="data.workStatus" autocomplete="off"/>
    <mat-hint>Are you a student, Teacher, working , etc ...</mat-hint>
  </mat-form-field>
</mat-dialog-content>

<button mat-raised-button (click)="deleteAccount()" align="start" [disabled]="isDisabled"><mat-icon [ngStyle]="{'color':'red'}">delete_forever</mat-icon> Delete Account</button>

<div *ngIf="updatedFailed" class="text-center">
  <br/>
  <mat-error >
    {{ errorMessage }}
  </mat-error>
</div>


<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" [disabled]="isDisabled">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="isDisabled">Save</button>
</div>

