<mat-progress-bar mode="indeterminate" *ngIf="!doneLoading" style="margin: -15px 0 10px 0;"></mat-progress-bar>

  <h3 mat-dialog-title>{{data.message}}</h3>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Notebook title</mat-label>
    <input
      matInput
      placeholder="Notebook One"
      name="title"
      [(ngModel)]="data.title"
      autocomplete="off"
    />
    <mat-hint>Title</mat-hint>
  </mat-form-field>


  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      placeholder="My first notebook"
      name="description"
      [(ngModel)]="data.description"
      autocomplete="off"
    ></textarea>
    <mat-hint>Description</mat-hint>
  </mat-form-field>

  <mat-form-field id="noteTags" appearance="outline">
    <mat-label>Tags</mat-label>
    <mat-chip-list
      #chipList
      aria-label="Fruit selection"
    >
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="true"
        [removable]="true"
        (removed)="removeTag(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Add tag..."
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="
                      separatorKeysCodes
                    "
        autocomplete="off"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addTag($event)"
      />
    </mat-chip-list>
  </mat-form-field>



<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="createNote()" cdkFocusInitial>Ok</button><!--  [mat-dialog-close]="{data: data, tags: tags}" -->
</div>

<!--</mat-dialog-content>-->
