@import "src/app/components/modals/add-note/add-note.component";

.mr-2{
  margin-right: 5px;
}

#cloneNotebookProgressBar{
  width: 80%;
  margin: auto;
}

#cloneNoteModal{
  //max-height: 80vh;
  overflow: hidden;
}

#newNoteInfo{
  overflow: auto;
  max-height: 35vh;
}
