<div id="standalone-container">
  <div id="toolbar-container">
    <span class="ql-formats">
      <select class="ql-font"></select>
      <select class="ql-size"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold"></button>
      <button class="ql-italic"></button>
      <button class="ql-underline"></button>
      <button class="ql-strike"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-header" value="1"></button>
      <button class="ql-header" value="2"></button>
      <button class="ql-blockquote"></button>
      <button class="ql-code-block"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered"></button>
      <button class="ql-list" value="bullet"></button>
      <button class="ql-indent" value="-1"></button>
      <button class="ql-indent" value="+1"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-direction" value="rtl"></button>
      <select class="ql-align"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-link"></button>
      <button class="ql-image"></button>
      <button class="ql-video"></button>
      <button class="ql-formula"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-clean"></button>
    </span>


<!--    <div class="container">-->
<!--      <div class="d-flex">-->
<!--        <div class="image_outer_container m-2">-->
<!--          <div class="image_inner_container">-->
<!--            <img src="https://firebasestorage.googleapis.com/v0/b/smartstudentnotebook.appspot.com/o/UserProfilePi
ctures%2FmxqlRyQv0BUS1qbBbhS3H6krfMg11631349995572?alt=media&token=09cfc431-ac2a-47af-b7c8-b3ca1946f1a7" alt="Avatar">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <div id="users"></div>
    <div id="editor-container" [ngStyle]="{'height': height}"></div>
  </div>
</div>


<style>
  .container{
    height: 100%;
    align-content: center;
  }

  .image_outer_container{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    position: relative;
  }

  .image_inner_container{
    border-radius: 50%;
    padding: 5px;
    background: #4cd137
  }

  .image_inner_container img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 5px solid white;
  }
</style>
