<div id="standalone-container"
     cdkDropList
     cdkDropListConnectedTo="panelContent"
     (cdkDropListDropped)="drop($event)">
  <div id="toolbar-container">
    <div id="toolbar" [ngStyle]="{'padding': noteId !== '' ? '10px' : '0'}">
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <select class="ql-font"></select>
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-inline-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats" [ngStyle]="{'display': noteId !== '' ? 'inline-block' : 'none'}">
        <button class="ql-clean"></button>
      </span>

      <div id="users" [ngStyle]="{'display': noteId !== '' ? 'block' : 'none'}"></div>
    </div>
    <div id="editor-container" [ngStyle]="{
    'height': heightInPx,
    'background-image': noteId === '' ? 'url(\'../../../assets/images/notebook-placeholder-background.png\')' : 'none',
    'color': noteId === '' ? 'white' : 'black'
    }"></div>
  </div>
</div>
