#editor-container{
  //background-image: url("../../../assets/images/notebook-placeholder-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: border-box;
}
