<h3 mat-dialog-title>Add a collaborator</h3>

<mat-dialog-content class="mat-typography">

 <!-- <mat-form-field appearance="outline" class="form-field" id="collabAutocomplete">
    <mat-label>Enter user name</mat-label>
    <input type="text"
           placeholder="Add collaborator"
           aria-label="collaborator"
           autocomplete="off"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto" #input>
    <mat-autocomplete #auto="matAutocomplete" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (onSelectionChange)="select(option)">
        <div mat-card-avatar class="profile-image"></div>
        <span>{{option.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>-->

  <ais-instantsearch [config]="config">
    <main class="search-container">
      <div class="right-panel">
        <div id="hits">
          <!-- Uncomment the following widget to add hits list -->
          <div id="searchbox">
            <!-- Uncomment the following widget to add a search bar -->
            <ais-search-box placeholder="Search"></ais-search-box>
          </div>
          <ais-hits >
            <ng-template let-hits="hits" let-results="results">
              <div *ngIf="hits.length === 0">
                No results found for
                <strong>{{results.query}}</strong>.
              </div>
              <div class="ais-Hits-list">
                <div class="ais-Hits-item" *ngFor="let hit of hits">
                  <article>
                    <div class="post-content">
                      <div class="post-date">
                        {{hit.data.course}}
                        <br>
                        {{hit.data.institution}}
                      </div>
                      <h2 class="entry-title">
                        {{hit.data.title}}
                      </h2>
                      <div class="post-excerpt" >
                        {{hit.data.description}}
                        <br>
                        {{hit.data.author}}
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </ng-template>
          </ais-hits>
        </div>
        <div id="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>
    </main>
  </ais-instantsearch>


</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="selectedUser" cdkFocusInitial>Ok</button>
</div>
