<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 90%; overflow-y: auto; overflow-x: hidden">

    <img src="../../assets/logo/SmartStudentHandbook2.jpg" alt="image" style="width: 200px; padding-bottom: 10px;"  [@animateText]="linkText ? 'show' : 'hide'">
    <div mat-card-avatar class="header-image align-self-center" [@animateText]="linkText ? 'hide' : 'show'"></div>

    <mat-divider></mat-divider>

    <div>
          <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']">
              <mat-icon class="menuIcon" matTooltip="Home" matTooltipPosition="right">home</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Home</span>
            </a>
            <a mat-list-item  [routerLink]="['/explore']">
              <mat-icon class="menuIcon" matTooltip="Explore" matTooltipPosition="right">explore</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Explore</span>
            </a>

            <br/>
            <mat-divider></mat-divider>
            <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Notes</span>
            <br/>

            <a mat-list-item  [routerLink]="['/recentNotes']">
              <mat-icon sclass="menuIcon" matTooltip="Recent notes" matTooltipPosition="right">av_timer</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Recent Notes</span>
            </a>
            <a mat-list-item  [routerLink]="['/notebook']">
              <mat-icon class="menuIcon" matTooltip="Notebooks" matTooltipPosition="right">book</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'">
                My Notebooks
                <!--<app-tree-view #treeViewComponent id="treeViewComponent"></app-tree-view>-->
              </span>
              <button mat-icon-button [matMenuTriggerFor]="NotebbokMenu" aria-label="Example icon-button with a menu" [@animateText]="linkText ? 'show' : 'hide'">
                <mat-icon>add</mat-icon>
              </button>
              <mat-menu #NotebbokMenu="matMenu">
                <button mat-menu-item >
                  <mat-icon>book</mat-icon>
                  <span>Notebook</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>create_new_folder</mat-icon>
                  <span>Folder</span>
                </button>
              </mat-menu>
            </a>

            <app-tree-view #treeViewComponent id="treeViewComponent" [@animateText]="linkText ? 'show' : 'hide'"></app-tree-view>

            <a mat-list-item  [routerLink]="['/sharedWithMe']">
              <mat-icon class="menuIcon" matTooltip="Shared With Me" matTooltipPosition="right">group</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Shared With Me</span>
            </a>

            <br/>
            <mat-divider></mat-divider>
            <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Account</span>
            <br/>

            <a mat-list-item  [routerLink]="['/notifications']">
              <mat-icon class="menuIcon" matTooltip="Notifications" matTooltipPosition="right">notifications</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Notifications</span>
            </a>
            <!--<a mat-list-item  (click)="updateProfile()">
              <mat-icon class="menuIcon" matTooltip="Account" matTooltipPosition="right">account_circle</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Account</span>
            </a>

            <br/>
            <mat-divider></mat-divider>
            <br/>

            <a mat-list-item  (click)="logout()">
              <mat-icon class="menuIcon" matTooltip="Log Out" matTooltipPosition="right">exit_to_app</mat-icon>
              <span [@animateText]="linkText ? 'show' : 'hide'" class="menuLabel">Logout</span>
            </a>-->
          </mat-nav-list>
        </div>

<!--    <mat-divider></mat-divider>-->

    <span class="spacer"></span>
    <div fxLayout="row" fxLayoutAlign="end center" style="padding: 0px 10px;">
      <button mat-icon-button (click)="onSinenavToggle()">
        <mat-icon *ngIf="sideNavState" class="menuArrow">arrow_left</mat-icon>
        <mat-icon *ngIf="!sideNavState" class="menuArrow">arrow_right</mat-icon>
      </button>
    </div>

    <div mat-card-avatar class="header-image align-self-center" [@animateText]="linkText ? 'hide' : 'show'"></div>

    <mat-card id="card" [@animateText]="linkText ? 'show' : 'hide'">
      <mat-card-header id="profileCard">
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title id="username" [@animateText]="linkText ? 'show' : 'hide'">{{ username }}</mat-card-title>
        <mat-card-subtitle id="subTitle" [@animateText]="linkText ? 'show' : 'hide'">users email</mat-card-subtitle>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item (click)="updateProfile()">
            <mat-icon>account_circle</mat-icon>
            <span>Update Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </mat-card-header>
    </mat-card>

  </div>
</div>
