@import '/src/app/styling/global';

img {
  max-width: 400px;
  height: auto;
  width: auto\9; /* ie8 */
}

.header{
  font-weight: 500;
}

.emailInput{
  width: 100%;
}

#mailIcon{
  font-size: 100px;
  height: 100px;
  width: 100px;
}

#checkMail{
  display: none;
}
