<div id="background">
  <img src="../../../../assets/logo/SmartStudentHandbook.png" class="rounded mx-auto d-block" height="200"  alt="Responsive image">

  <div class="container regCard" id="resetPassword">

    <div class="row">
      <div class="col"></div>
      <div class="col-md-6 text-md-center ">
        <h1 class="header">Create new password</h1>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-md-7 text-md-center col-lg-6">
        <p>Your password must be different from previously used passwords</p>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-md-7 col-lg-6">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="emailInput">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="******" formControlName="password" required
                   pattern="(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,40}">
            <mat-hint>Minimum 8 characters including UPPER/lowercase, numbers and a special character</mat-hint>
            <mat-error> Please provide a valid password </mat-error>
            <mat-error> Minimum of 8 characters including UPPER/lowercase, numbers and a special character</mat-error>
          </mat-form-field>

          <br/>

          <mat-form-field appearance="outline" class="emailInput">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput placeholder="******" formControlName="confirmPassword" required>
            <mat-hint>Must match password</mat-hint>
            <mat-error> The password does not match </mat-error>
          </mat-form-field>

          <button mat-raised-button style="float: right" [disabled]="form.invalid">Reset Password</button>
        </form>
      </div>
      <div class="col"></div>
    </div>


  </div>
</div>
