#exploreBottomSheetEditor{
  text-align: left;
  padding: 7px;
  min-height: calc(100vh - 155px);
}

@import "src/app/components/editor/editor.component";

.example-spacer {
  flex: 1 1 auto;
}

.pointer{
  cursor: pointer;
}

#viewNoteBottomSheetHeader{
  font-weight: 400;
  white-space: break-spaces;
  line-height: normal;
  font-size: medium;
}

mat-toolbar-row{
  height: max-content;
  margin: auto;
}
