#openPanelBtn{
  position: absolute;
  top: 12px;
  right: 0px;
  // transition: all .15s linear;
  z-index: 3;
  font-size: larger;
}

#closePanelBtn{
  position: absolute;
  top: 4px;
  left: 0px;
}

#panel{
  width: 100%;
  height: 90vh;
  position: fixed;
  border: 2px solid black;
  transition: all .1s linear;
  border-radius: 3px;
  overflow: hidden;
}

:host{
  width: 100%;
  height: 90vh;
  // position: fixed;
}

#panelContent{
  // border: 2px solid black;
  // height: 99vh;
  width: 100%;
  padding: 0px 7px 0px 7px;
  // margin-left: 39px;
  // margin-top: 5vh;

}

mat-sidenav{
  background-color: rgb(248, 248, 248);
  border-top: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card{
  width: 100%;
  padding-bottom: 5px;
  // box-shadow: none !important;
  transition: all .1s linear;
  margin-bottom: 5px;
  cursor: move;
  // margin: 0px 10px 5px 0px;
}

#smartAssistHeader{
  box-shadow: none !important;
  border: none;
  cursor: auto;
  text-align: center;
  font-size: medium;
  padding-top: 8px;
}

.date{
  font-size: small;
}

.snippetTitle{
  font-size: medium;
}

.snippetContentHeader{
  max-height: 200px;
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-overflow: ellipsis ellipsis;
  text-overflow: ellipsis " [..]";
  margin-bottom: 10px;
}

.snippetContent{
  font-weight: 400;
  font-size: small;
}

.content{
  width: 40px !important;
}

.mat-drawer-backdrop{
  display: none !important;
}

::ng-deep mat-sidenav{
  width: 100% !important;
}
// .treeNode{
//   padding-left: 0px !important;
// }


.preview{
  cursor: pointer;
}


.tags {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 7px;

  .tag {
    display: inline-block;
  }
}

// .item{
//   display: inline;
// }

/********* Scrollbar *********/

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
