<mat-sidenav-container
	id="smartAssistContainer"
	>
	<mat-sidenav #sidenav mode="side" id="contentContainer" position="end">
		<div
			id="panelContent"
			cdkDropList
			cdkDropListConnectedTo="editorContainer">

			<div align="center" id="smartAssistHeader">
				<!-- <mat-card-header> -->
				<button
					mat-icon-button
					id="closePanelBtn"
					(click)="sidenav.toggle(); openedCloseToggle()">
					<mat-icon>keyboard_arrow_right</mat-icon>
				</button>

				<h2>Smart Assist</h2>
				<!-- </mat-card-header> -->
			</div>

			<app-smart-assist></app-smart-assist>
		</div>
	</mat-sidenav>

	<mat-sidenav-content class="content">
		<!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
		<button
			mat-icon-button
			id="openPanelBtn"
			(click)="sidenav.toggle(); openedCloseToggle()"
		>
			<mat-icon>keyboard_arrow_left</mat-icon>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>
