//.panel{
//  display: inline-block;
//  flex: 1 0 0%;
//  width: min-content;
//  // margin-left: -13%;
//}

//.spacer {
//  flex: 1 1 auto;
//}
@import "../../styling/scrollbar";

.col{
  padding: 0px;
}

.sidePanel{
  width: fit-content;
  transition: all .2s linear;
  padding: 0;
  // width: 16.6666666667%;
}
.panel{
  display: inline-block;
  flex: 1 0 0%;
  width: min-content;
  // margin-left: -13%;
}

#menuPanelContainer{
  padding-right: 0px;
}

#notePanelContainer{
  padding-left: 0px;
}

.spacer {
  flex: 1 1 auto;
}

.col{
  padding: 0px;
}

.sidePanel.col{
  width: fit-content !important;
  transition: all .1s linear;
  // width: 16.6666666667%;
}

::ng-deep .ck-toolbar__items {
  flex-wrap: wrap !important;
}

.moreOptions{
  margin-bottom: -10px;
  z-index: 5;
}

#tabs{
  margin-top: -20px;
}

#notebookTitle{
  margin: 0px 20px 0px 0px;
  display: inline-block;
}


/*********** Menu ************/
mat-drawer {
  width: 250px;
  z-index: 3;
}
