
<p>
  <mat-toolbar color="primary">

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>Smart Student</span>
    <span class="spacer"></span>


    <!-- <mat-form-field class="search">
      <input matInput type="search" color="light" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field> -->


    <!-- <button mat-raised-button (click)="logout()" class="mx-4">Logout</button> -->

  </mat-toolbar>
</p>

<!-- <router-outlet></router-outlet> -->

<div class="container-fluid">
  <div class="row" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0px">
    <div class="sidePanel" id="folderPanelContainer" fxHide.lt-md>
      <app-folder-panel #folderPanelComponent></app-folder-panel>
    </div>
    <div class="sidePanel" id="notePanelContainer" fxHide.lt-md>
      <app-notes-panel #notePanelComponent></app-notes-panel>
    </div>
    <div class="col" align="end">

      <app-editor #editorComponent></app-editor>

    </div>
    <div class="sidePanel" fxHide.lt-md>
      <app-smart-assist-panel></app-smart-assist-panel>
    </div>
  </div>
</div>

