/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.backgroundIMG{
  background-image: url('./assets/images/blurredBackground.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
