<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" id="notebookTree">

  <!-- notes -->
  <mat-tree-node class="treeNode" *matTreeNodeDef="let node" matTreeNodePadding >
    <button mat-button class="notebookNode" (click)="openNotebookFolder(node.id, node.name)">{{ node.name }}</button>

    <button mat-icon-button aria-label="Delete notebook" [matMenuTriggerFor]="notebookMenu">
      <mat-icon >more_vert</mat-icon>
    </button>

    <mat-menu #notebookMenu="matMenu">
      <button mat-menu-item (click)="updateNotebook(node.id)">
        <mat-icon>edit</mat-icon>
        <span>Edit Notebook</span>
      </button>
    </mat-menu>
  </mat-tree-node>



  <!-- notebook -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle *ngIf="childrenSize > 0" [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="menuIcon bookIcon" matTooltip="Notebooks" matTooltipPosition="right" [routerLink]="['/notebook']">group</mat-icon>
      <mat-icon class="mat-icon-rtl-mirror">
        {{
        treeControl.isExpanded(node)
          ? 'expand_more'
          : 'chevron_right'
        }}
      </mat-icon>
    </button>

    <button mat-icon-button *ngIf="childrenSize === 0">
      <mat-icon class="menuIcon bookIcon" matTooltip="Notebooks" matTooltipPosition="right" [routerLink]="['/notebook']">group</mat-icon>
    </button>
    <span class="notebookHead" [routerLink]="['/notebook']">{{ node.name }}</span>


  </mat-tree-node>
</mat-tree>
