<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="panel-header">
      <!-- <mat-panel-title>
        Some title
      </mat-panel-title>
      <mat-panel-description>
        Some description
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="panel-content">
      <button mat-icon-button class="panelBackBtn" (click)="panelOpenState = false">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <p><strong>Panel Content</strong>If you ask Chuck Norris what time it is, he always says, "Two seconds 'til." After you ask, "Two seconds 'til what?" he roundhouse kicks you in the face, The quickest way to a man's heart is with Chuck Norris' fist Even corn flakes become deadly weapons in the hands of Chuck Norris.</p>
      <p>More content</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
