<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" id="notebookTree">

    <!-- notes -->
    <mat-tree-node class="treeNode" *matTreeNodeDef="let node" matTreeNodePadding  (click)="openNotebookFolder(node.id)">
      <button mat-icon-button>{{ node.name }}</button>
    </mat-tree-node>

    <!-- notebook -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle *ngIf="childrenSize > 0" [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="menuIcon bookIcon" matTooltip="Notebooks" matTooltipPosition="right" [routerLink]="['/notebook']">book</mat-icon>
        <mat-icon class="mat-icon-rtl-mirror">
          {{
          treeControl.isExpanded(node)
            ? 'expand_more'
            : 'chevron_right'
          }}
        </mat-icon>
      </button>

      <button mat-icon-button *ngIf="childrenSize === 0">
        <mat-icon class="menuIcon bookIcon" matTooltip="Notebooks" matTooltipPosition="right" [routerLink]="['/notebook']">book</mat-icon>
      </button>
      <span class="notebookHead">{{ node.name }}</span>

      <button mat-icon-button aria-label="Example icon-button with a menu" [matMenuTriggerFor]="NotebookMenu">
        <mat-icon>add</mat-icon>
      </button>

      <mat-menu #NotebookMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>create_new_folder</mat-icon>
          <span>Notebook</span>
        </button>
      </mat-menu>

    </mat-tree-node>


</mat-tree>
