<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" id="notebookTree" >

<!-- notes -->
	<mat-tree-node class="treeNode" *matTreeNodeDef="let node" matTreeNodePadding  (click)="openNotebookFolder(node.id)">
		<button mat-icon-button>{{ node.name }}</button>
	</mat-tree-node>

<!-- notebook -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{
        treeControl.isExpanded(node)
          ? 'expand_more'
          : 'chevron_right'
        }}
      </mat-icon>
    </button>
    {{ node.name }}
  </mat-tree-node>

</mat-tree>
