<ais-instantsearch
  [config]="{
    apiKey: '589f047ba9ac7fa58796f394427d7f35',
    appId: 'AD2K8AK74A',
    indexName: 'users',
    routing: true
  }">

  <ais-search-box placeholder="Search for ..."></ais-search-box>
  <ais-hits>
    <ng-template let-hits="hits" let-results="results">
      <div *ngIf="hits.length === 0">
        No results found matching <strong>{{results.query}}</strong>.
      </div>

      <div *ngIf="results.query">
        <div *ngFor="let hit of hits" class="content">
          <section>
            <h3>{{hit.username}} {{hit.objectID}}</h3>
            <ais-highlight attribute="bio" [hit]="hit"></ais-highlight>
          </section>
        </div>
      </div>
    </ng-template>
  </ais-hits>

</ais-instantsearch>
