<div
	id="editorContainer"
	#editorContainer
  ngStyle.lt-md="background-color: #f8f8f8;"
>
  <mat-toolbar id="smallNoteHeader" fxHide.gt-sm>
    <h2>{{noteTitle}}</h2>
    <span class="spacer"></span>
    <button
      mat-icon-button
      (click)="openSmartAssist()"
      [disabled]="!doneLoading || noteTitle === 'Smart Student'">
      <mat-icon>bubble_chart</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="openBottomSheet()"
      [disabled]="!doneLoading || noteTitle === 'Smart Student'">
      <mat-icon id="mobileMoreIcon">more_vert</mat-icon><!-- bubble_chart -->
    </button>
  </mat-toolbar>


	<mat-accordion fxHide.lt-md>
		<mat-expansion-panel
			id="noteInfoAccordion"
			[expanded]="panelOpenState === true"
      (afterCollapse)="openClosePanel(); setEditorHeight()"
      (afterExpand)="openClosePanel(); setEditorHeight()"
      [disabled]="!opened"
      #noteInfoAccordion
		>
			<mat-expansion-panel-header>
				<mat-panel-title id="noteTitle">
					{{ noteTitle }}
				</mat-panel-title>
				<mat-panel-description>
					<button
						mat-icon-button
						class="favorite-icon"
						(click)="showMoreOptions($event)"
						[matMenuTriggerFor]="menu"
					>
						<mat-icon>more_horiz</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="addCollaborator()">
							<mat-icon>share</mat-icon>
							<span>Share</span>
						</button>

						<button mat-menu-item (click)="removeNote()">
							<mat-icon>clear</mat-icon>
							<span>Delete</span>
						</button>
					</mat-menu>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<table
				id="noteInfoTable"
				aria-label="Extra information on opened notebook"
			>
				<tr>
					<th id="tableTitles"></th>
					<th id="tableContent"></th>
				</tr>
				<tr *ngIf="creator.name !== ''">
					<td class="noteInfo" headers="tableTitles">
						<p>Created By:</p>
					</td>
					<td headers="tableContent">
						<mat-card class="card">
							<mat-card-header>
								<div mat-card-avatar class="header-image pointerCursor"  [style]="{'background-image': 'url(' + creator.url + ')'}"
                     (click)="viewUserProfile(creator.id,creator.name)"></div>
								<mat-card-title class="personName pointerCursor" (click)="viewUserProfile(creator.id,creator.name)"
									>{{creator.name}}</mat-card-title
								>
							</mat-card-header>
						</mat-card>
					</td>
				</tr>
        <tr *ngIf="!private" style="height: 0">
          <td style="height: 0"></td>
          <td style="height: 0">
            <button color="primary" mat-icon-button id="addGroupBtn" *ngIf="collaborators.length !== 1" [disabled]="!opened" (click)="addCollaborator()">
              <mat-icon>group_add</mat-icon>
            </button>
          </td>
        </tr>
				<tr *ngIf="!private">
					<td class="noteInfo" headers="tableTitles">
						<p>Collaborators:</p>
					</td>
					<td headers="tableContent">

            <button mat-stroked-button *ngIf="collaborators.length === 1" (click)="addCollaborator()">
              Add Collaborator
            </button>

						<mat-card class="card" *ngFor="let collaborator of collaborators">
              <ng-template [ngIf]="collaborator.id !== creator.id">
                <mat-card-header>
                  <div mat-card-avatar class="header-image pointerCursor" [style]="{'background-image': 'url(' + collaborator.url + ')'}"
                       (click)="viewUserProfile(collaborator.id,collaborator.name)"></div>

                  <button *ngIf="user.uid === creator.id" class="removeCollaboratorBtn pointerCursor" mat-icon-button
                          [disabled]="!doneLoading" (click)="removeCollaborator(collaborator.id, collaborator.accessId)">
                    <mat-icon class="removeCollaboratorIcon">
                      remove_circle_outline
                    </mat-icon>
                  </button>


                  <mat-card-title class="personName pointerCursor" (click)="viewUserProfile(collaborator.id,collaborator.name)"
                  >{{collaborator.name}}</mat-card-title
                  >
                </mat-card-header>
              </ng-template>

						</mat-card>
					</td>
				</tr>
				<tr *ngIf="opened">
					<td class="noteInfo" headers="tableTitles"><p>Tags:</p></td>
					<td headers="tableContent">
						<mat-form-field id="tags">
							<mat-label></mat-label>
							<mat-chip-list
								#chipList
								aria-label="Fruit selection"
							>
								<mat-chip
									*ngFor="let tag of tags"
									[selectable]="true"
									[removable]="true"
									(removed)="removeTag(tag)"
								>
									{{ tag }}
									<mat-icon matChipRemove>cancel</mat-icon>
								</mat-chip>
								<input
									placeholder="Add tag..."
									[matChipInputFor]="chipList"
									[matChipInputSeparatorKeyCodes]="
										separatorKeysCodes
									"
                  autocomplete="off"
									[matChipInputAddOnBlur]="true"
									(matChipInputTokenEnd)="addTag($event)"
								/>
							</mat-chip-list>
						</mat-form-field>
					</td>
				</tr>
			</table>
		</mat-expansion-panel>
	</mat-accordion>

	<mat-progress-bar mode="indeterminate" *ngIf="!doneLoading"></mat-progress-bar>

  <!--	<div id="editor" class="editor"></div>-->
  <app-note-editor></app-note-editor>
</div>
