<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Smart Student</span>
    <span class="spacer"></span>

    <mat-form-field class="search">
      <input matInput type="search" color="light" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </mat-toolbar>
</p>

<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <div class="sidePanel">
      <app-folder-panel #folderPanelComponent></app-folder-panel>
    </div>
    <div class="sidePanel">
      <app-notes-panel></app-notes-panel>
    </div>
    <div class="col" align="end">
      <button mat-icon-button class="favorite-icon" class="moreOptions" >
        <mat-icon>share</mat-icon>
      </button>
      <!-- <button mat-icon-button class="favorite-icon" id="moreOptions" >
        <mat-icon>more_horiz</mat-icon>
      </button> -->
      <button mat-icon-button class="favorite-icon" class="moreOptions" (click)="createNewNotebook()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button class="favorite-icon" class="moreOptions" (click)="removeNotebook()">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-tab-group [backgroundColor]="background" id="tabs">
        <mat-tab *ngFor="let link of links; let n = index" label="{{link}}">

          <div id="editor" #editor class="editor" cdkDropList>

          </div>

        </mat-tab>
      </mat-tab-group>




    </div>
    <div class="sidePanel">
      <app-smart-assist-panel></app-smart-assist-panel>
    </div>
  </div>
</div>



