<mat-sidenav-container
	id="notes-container"
	><!--  -->
	<mat-sidenav #sidenav mode="side" [(opened)]="open" id="sidenav">
		<div id="panelContent" align="end">
			<div align="center" class="text-left" style="margin-top: 15px">
				<button
					mat-icon-button
					id="closeNotePanelBtn"
					#closeNotePanelBtn
					(click)="openedCloseToggle()"
				>
					<mat-icon>keyboard_arrow_left</mat-icon>
				</button>

				<h2 style="display: inline">Notes</h2>
				<button mat-icon-button (click)="createNewNotebook()">
					<mat-icon>add_circle_outline</mat-icon>
				</button>
			</div>

			<mat-card
				align="start"
				class="card text-left"
				*ngFor="let notebook of notebooks"
			>
				<button
					mat-icon-button
					class="favorite-icon"
					class="editNotebookBtn"
					(click)="editNotebook(notebook.notebookReference)"
				>
					<mat-icon class="editNotebookIcon">edit</mat-icon>
				</button>

				<div (click)="openNotebook(notebook.notebookReference)">
					<mat-card-header>
						<mat-card-subtitle id="subTitle"
							>JUNE 17 2021</mat-card-subtitle
						>
						<mat-card-title id="username">{{
							notebook.title
						}}</mat-card-title>

						<mat-card-title id="description">{{
							notebook.description
						}}</mat-card-title>
					</mat-card-header>
				</div>
			</mat-card>

			<!--      <mat-card align="start" class="card text-left">-->
			<!--        <mat-card-header>-->
			<!--          <mat-card-subtitle id="subTitle">JUNE 3 2021</mat-card-subtitle>-->
			<!--          <mat-card-title id="username">Capstone Demo 1</mat-card-title>-->

			<!--          <mat-card-title id="description">The SRS document of Algorithmic Aces for demo 1 of capstone project</mat-card-title>-->

			<!--        </mat-card-header>-->

			<!--        <mat-chip-list aria-label="Fish selection">-->
			<!--          <mat-chip color="primary" selected>SRS</mat-chip>-->
			<!--          <mat-chip color="primary" selected>Demo</mat-chip>-->
			<!--        </mat-chip-list>-->
			<!--      </mat-card>-->
		</div>
	</mat-sidenav>

	<mat-sidenav-content class="content">
		<!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
		<button
			mat-icon-button
			id="openPanelBtn"
			(click)="sidenav.toggle(); openedCloseToggle()"
		>
			<mat-icon>keyboard_arrow_right</mat-icon>
		</button>
	</mat-sidenav-content>
</mat-sidenav-container>
