#openPanelBtn{
  position: absolute;
  top: 12px;
  right: 0px;
  transition: all .1s linear;
  z-index: 3;
  font-size: larger;
}

#closeNotePanelBtn{
  position: relative;
  margin-bottom: 20px;
}

#panel{
  width: 100%;
  height: 90vh;
  position: fixed;
  border: 2px solid black;
  transition: all .1s linear;
  border-radius: 3px;
  overflow: hidden;
}

:host{
  width: 100%;
  height: 90vh;
  // position: fixed;
}

#panelContent{
  // border: 2px solid black;
  // height: 99vh;
  width: 100%;
  // margin-left: 39px;
  // margin-top: 5vh;

}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.card{
  width: 100%;
  padding-bottom: 5px;
  box-shadow: none !important;
  transition: all .1s linear;
  padding-left: 5px;
  overflow: hidden;
  margin-top: 15px !important;
  cursor: pointer;
}

#username{
  font-size: medium;
  width: 100%;
  display: block;
  margin-top: -15px;
  margin-bottom: 10px;
}

#subTitle{
  font-size: small;
  display: block;
}

#description{
  font-weight: 400;
  font-size: small;
}

.content{
  width: 40px !important;
}

.mat-drawer-backdrop{
  display: none !important;
}

::ng-deep mat-sidenav{
  width: 100% !important;
}
// .treeNode{
//   padding-left: 0px !important;
// }

.editNotebookIcon{
  font-size: medium;
}

.editNotebookBtn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
